:root {
  color-scheme: light dark;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f8fa;
  --landing-color: #cfe4e9;
  --softdark: #535657;
  --skyblue: #f0f4f6;
  --yellow: rgb(247, 225, 31);
  --lightyellow: #f2f013;
  --text-color: #212529;
  --btn-icon-bg: #0d6efd;
  --btn-icon: white;
}
body.darktheme {
  background-color: #212121;
  --softdark: #2e2d2d;
  --skyblue: #21262d;
  --text-color: #e0e0e0;
  --btn-icon-bg: #2a2e35;
  --btn-icon: #9e9e9e;
}
body.darktheme .landing-page {
  filter: brightness(0.8) contrast(1.2) grayscale(0.1);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212121;
    --softdark: #2e2d2d;
    --skyblue: #21262d;
    --text-color: #e0e0e0;
    --btn-icon-bg: #2a2e35;
    --btn-icon: #9e9e9e;
  }
  .landing-page {
    filter: brightness(0.8) contrast(1.2) grayscale(0.1);
  }
  body.lighttheme {
    background-color: #f6f8fa;
    --landing-color: #cfe4e9;
    --softdark: #535657;
    --skyblue: #f0f4f6;
    --yellow: rgb(247, 225, 31);
    --lightyellow: #f2f013;
    --text-color: #212529;
    --btn-icon-bg: #0d6efd;
    --btn-icon: white;
  }
  body.lighttheme .landing-page {
    filter: brightness(1) contrast(1) grayscale(0);
  }
}
html {
  scroll-behavior: smooth;
}
.bg-softdark {
  background-color: var(--softdark);
}
.bg-skyblue {
  background-color: var(--skyblue);
}
.btn-blue {
  background-color: var(--btn-icon-bg);
}
.pos-r {
  position: relative;
}
.text-color {
  color: var(--text-color);
}
.center-icon {
  position: absolute;
  transform: translate(-50%, 37%) scale(1.5);
}
/* modification */
.btn:focus,
.navbar-toggler:focus,
a:focus {
  box-shadow: none !important;
}
.btn,
.btn:hover {
  color: var(--btn-icon);
}

.landing-page {
  background-image: url("../assets/landing.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  min-height: 100vh;
  max-height: calc((478 * 100vh) / 850);
  position: relative;
}
.heading3d {
  font-size: calc(2.375rem + 1.5vw);
  color: var(--yellow);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%) skewY(3deg);
}
.myshadow {
  font-family: "rig bold face", Arial, Helvetica, sans-serif;
  font-style: italic;
  text-shadow: 1px 1px 5px rgb(160, 157, 157), 0px 0px 5px rgb(160, 157, 157),
    2px 2px 5px rgb(119, 117, 117), 3px 3px 5px rgb(119, 117, 117),
    4px 4px 5px rgb(160, 157, 157), 5px 5px 5px rgb(160, 157, 157);
  transition: all 0.12s ease-out;
  -webkit-transition: all 0.12s ease-out;
  -moz-transition: all 0.12s ease-out;
  -ms-transition: all 0.12s ease-out;
  -o-transition: all 0.12s ease-out;
}
.myshadow:hover {
  /* transform: translate(-201%, -51%); */
  position: relative;
  top: -3px;
  left: -3px;
}
#toggleBtn svg {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 720px) {
  .landing-page {
    background-image: url("../assets/landing-v.jpg");
    background-color: var(--landing-color);
  }
  .heading3d {
    transform: translate(-50%, -50%);
    color: var(--lightyellow);
  }
}

/* footer  */

footer {
  background-color: #121212;
  text-align: center;
  padding: 1rem;
}

footer p {
  color: #eee;
}

footer div i{
  font-weight: 400;
  font-size: 1.8rem;
  color: #aaa;
  padding: 5px 10px;
  transition: all 0.5s;

}

footer div i:hover{
  font-weight: 400;
  font-size: 2rem;
  color: lime;
}

footer .author {
  background-color: #4a4a4a;
  margin: -1rem;
  padding: 0.1rem;
  color: aliceblue;
}

footer p a {
  color: lime;
  text-decoration: none;
}

.red-heart{
  animation: heart 0.5s infinite linear alternate;
}

@keyframes heart {
  from{
    font-size: 16px;
  }
  to{
    font-size: 14px;
  }
}