:root{
	color-scheme: light dark;
}
*{
	margin: 0;
	padding: 0;
}
body{
	--landing-color: #cfe4e9;
	--softdark:#535657;
	--skyblue:#f0f4f6;
	--darkblue:#0d6efd;
	--yellow:rgb(247, 225, 31);
	--lightyellow:#f2f013;
}
html{scroll-behavior: smooth;}
.bg-softdark{background-color:var(--softdark);}
.bg-skyblue{background-color:var(--skyblue);}
.btn-blue{ background-color: var(--darkblue); }
.pos-r{position: relative;}
.center-icon{position:absolute;transform: translate(-50%,32%) scale(1.5);}
/* modification */
.btn:focus ,.navbar-toggler:focus ,a:focus{ box-shadow: none !important; }
.btn ,.btn:hover{ color:white; }

.landing-page{
	background-image: url('../assets/landing.jpg');
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/* background-attachment:fixed; */
	min-height: 100vh;
	max-height: calc((478*100vh)/850);
	position:relative;
}
.heading3d{
	font-size: calc(2.375rem + 1.5vw);
	color: var(--yellow);
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-200%,-50%) skewY(3deg);
}
.myshadow{
	font-family: "rig bold face",Arial, Helvetica, sans-serif;
	font-style: italic;
	text-shadow: 1px 1px 5px rgb(160, 157, 157),
				 0px 0px 5px rgb(160, 157, 157),
				 2px 2px 5px rgb(119, 117, 117),
				 3px 3px 5px rgb(119, 117, 117),
				 4px 4px 5px rgb(160, 157, 157),
				 5px 5px 5px rgb(160, 157, 157);
	transition: all 0.12s ease-out;
	-webkit-transition: all 0.12s ease-out;
	-moz-transition: all 0.12s ease-out;
	-ms-transition: all 0.12s ease-out;
	-o-transition: all 0.12s ease-out;
}
.myshadow:hover{
	/* transform: translate(-201%, -51%); */
	position: relative;
	top: -3px;
	left: -3px;
}
#modeButton svg{ width:30px; height:30px; }

@media only screen and (max-width:720px){
	.landing-page{
		background-image:url('../assets/landing-v.jpg');
		background-color: var(--landing-color);
	}
	.heading3d{
		transform: translate(-50%,-50%);
		color:var(--lightyellow);
	}
}